.number {
    border: 6px solid black;
    border-radius: 33px;
    border-style: double;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.number:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.number:active {
    background-color: lightgray;
}

img {
    height: 111px;
    width: 111px;
}

p {
    text-align: center;
    font-size: 1.3rem;
}